@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,400,700,700i,900,900i');
@import url("https://use.typekit.net/pat7xxp.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.success {
 
    width: 100vw;
    height: 100vh;
}
.successGroup {
    max-width: 1200px;
    background-color: #383838;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}



.back {
    font-weight: 100;
    font-size: 23px;
    text-align: center;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    position:absolute;
    top: 20;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.back h1 {
    font-weight: 100;
    font-size: 32px;
}

.backButton :hover {
    opacity: 0.8;
}

.social {
    padding-top:10%;
}

.contactWrrap {
    width: 100%;
}

.contactLeft {
    background-image: url('../images/sketch.jpeg');
    background-size:cover;
    position: relative;
}
.contact {
    width:70%;
    margin: 10% auto 10% auto;
    display:grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contactName {
  font-family:'Roboto';
  font-weight: 100;
  width:400px; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
.contactName h1 {
    color:black;
    font-family: "marydale",sans-serif;
    font-size:  62px;
    font-weight: 800;
}



.contactName label {
 color :black;
 font-size: 16px;
}
.contactName input  {
    font-size:32px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    outline:none; 
    margin: 0 auto;
}

.contactName  textarea{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    outline:none; 
    margin: 0 auto;
}
.contactName button {
    width:100%;
    margin-top: 20px;
    padding: 20px 16px;
    background-color: #383838;
    color: white;
    font-size: 24px;
    outline: none;
    font-weight: 100;
}
.social {
    position: absolute;;
    bottom:0;
    right:0;
    margin-bottom: 5%;
}